<div class="row" style="margin-top:30px">
	<div class="col-sm-8 col-sm-push-4 col-md-10 col-md-push-2">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Mr. Narendra Modi</h3>
				<h3 class="text-success pull-right">36%</h3>
			</div>
			<div class="panel-body">
				<dl class="dl-horizontal  col-md-9">
					<dt>Constituency</dt>
					<dd>Black hot drink</dd>
					<dt>State</dt>
					<dd>White cold drink</dd>
					<dt>Seat No.</dt>
					<dd>5</dd>
					<dt>Loksabha</dt>
					<dd>15th</dd>
				</dl>

			</div>
		</div>
	</div>
</div>